<h1><code ng:non-bindable=""></code><div><span class="hint"></span></div></h1><div><div class="o-b-f-admin-cases-list-service-page"><p>describes the case list service that only includes the dateParser service</p></div></div>