<h1><code ng:non-bindable=""></code><div><span class="hint"></span></div></h1><div><div class="o-b-f-admin-cases-list-values-page"><p>set values to uses by the different case list components</p></div></div>