<!DOCTYPE html><html><head><meta charset="utf-8"><title>AngularJS UI Tree demo</title><!-- Stylesheets --><link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"><link rel="stylesheet" href="dist/angular-ui-tree.min.css"><link rel="stylesheet" href="css/demo.css"></head><body ng-app="demoApp"><div class="container"><div class="jumbotron"><h1>Tree component</h1><p class="lead">The AngularJS Tree component with drag and drop support.</p><p><a class="btn btn-lg btn-success" href="https://github.com/JimLiu/angular-ui-tree" role="button">Code on GitHub</a></p></div><div class="row"><div class="col-md-4"><h2>What?</h2><p>Angular Tree is an AngularJS UI component that can sort nested lists, provides drag &amp; drop support and doesn't depend on jQuery.</p></div><div class="col-md-4"><h2>Features</h2><ul><li>Uses the native AngularJS scope for data binding</li><li>Sorted and move items through the entire tree</li><li>Prevent elements from accepting child nodes</li></ul></div><div class="col-md-4"><h2>Examples</h2><ol><li><a href="tree.html">Unlimited nesting</a></li><li><a href="tree-horizontal.html">Above with horizontal sorting</a></li><li><a href="trees.html">Connected trees</a></li><li><a href="groups.html">Groups &amp; Categories</a></li><li><a href="filter.html">Filter</a></li></ol></div></div><div class="row"><div class="col-md-12"><h2>See it in action</h2></div></div><div class="row"><div class="col-md-12"><div class="row" ng-controller="MainCtrl"><div class="col-lg-6"><h3>Draggable Tree</h3><!-- Nested list template --><script type="text/ng-template" id="items_renderer.html"><div ui-tree-handle>
                  <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                  {{item.title}}
                  <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                  <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
                <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
                  <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
                  </li>
                </ol></script><div ui-tree="options"><ol ui-tree-nodes ng-model="list"><li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li></ol></div></div><div class="col-lg-6"><h3>Full tree</h3><pre class="code">{{ list | json }}</pre></div></div></div></div></div><!-- JavaScript --><!--[if IE 8]>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
  <![endif]--><script src="bower_components/angular/angular.min.js"></script><script src="dist/angular-ui-tree.js"></script><script src="js/demo.js"></script></body></html>